html,
body {
  padding: 0;
  margin: 1000px;
  /* background-color: red; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* layouts */
.global-container {
  width: 100%;
  margin: 0;
  max-width: 1440px;
}


/* font styles */
/* .fz-h1 {
  font-size: 48px;
  letter-spacing: .02rem;
}
.fz-h2
.fz-h3
.fz-h4
.fz-body-normal
.fz-body-bold */

/* color settings */